.tablepage{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;  
    margin-bottom: 50px;

}

.tablebody{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 40px;
justify-content: center;
}

.tableinput{
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.tableselect{
    width: 100%;
}

.tableheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 400px; */
}
.tableheaderdata{
    font-size: 30px;
    margin-bottom: 10px;
}

.tableheaderunderliner{
    width: 80px;
    height: 7px;
    background-color: indigo;
    border-radius: 10px;
}


.tableinput button{
    width: 150px;
    border: none;
    height: 38px;
    background-color: indigo;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.otherdownloads{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.otherdownloadscont{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 1200px;
    height: 110px;
    margin-top: 50px;
    padding: 20px;
}

.otherdownloadbtnlink{
    background-color: indigo;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.otherdownloadbtnlink2{
    width: 170px;
    border: none;
    height: 38px;
    background-color: indigo;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}