@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.navbar{
    height: 55px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    padding: 10px;

}

.navbar2{
    height: 55px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.navbar2 img{
    height: 55px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.navbar img{
    width: 50px;
    height: auto;
    margin-left: 40px;
    margin-right: 20px;
}

.datalogo{
    font-weight: 500;
    font-size: 21px;
} 


.loggedinnav-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loggedinnav-inner2{
    margin-right: 40px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.logout-btn{
    background-color: indigo;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    width: 150px;
    margin-left: 20px;
    cursor: pointer;
}